# app
NEXT_PUBLIC_APP_NAME=Vizodex
NEXT_PUBLIC_APP_DOMAIN=https://vizodex.vercel.app

# database
DATABASE_URL=   # (Eğer veritabanın yoksa şimdilik boş bırakabilirsin)

# auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cHJv…VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_uXf2…7gfojEeh8jxv
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/signin"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/signup"
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_URL="/"
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_URL="/"
